.cardContainer {
  width: 250px;
  height: 60px;
  background-color: rgba(100, 198, 237, 0.164);
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-left: 1rem;
  margin-left: 20px;
  margin-bottom: 10px;
}

