.ModalWrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    max-height: calc(100% - 6.4rem);
}

.ModalBackdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.2);
}

.ModalBox {
    background-color: #d6e3f6;
    width:400px;
    height: 450px;
    border-radius: 15%;
    margin-top: 220px;
    margin-left: 650px;
}